In [1]:
5%2

1

In [7]:
num = raw_input()
number = int(num)
if number%2==0:
    print("It is even!")
else:
    print("It is odd")

56
It is even!

In [8]:
number = raw_input("Please, input some number: ")
num = int(number)
if num==0:
    print("It is neither even nor odd")
elif num%2==0:
    print("It is even")
else:
    print("It is odd")

Please, input some number: 0
It is neither even nor odd

In [9]:
number_list = [1,2,10,5,16,8]
even_list = []
odd_list = []
for i in number_list:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)

In [10]:
print(even_list)
print(odd_list)

[2, 10, 16, 8]
[1, 5]

In [19]:
number_list = [1,2,10,5,16,8]
even_list = []
odd_list = []
i=0
while i<len(number_list):
    if number_list[i]%2==0:
        even_list.append(number_list[i])
    else:
        odd_list.append(number_list[i])
    i=i+1

In [20]:
even_list

[2, 10, 16, 8]

In [21]:
odd_list

[1, 5]

In [25]:
def adjectivizer(noun):
    return noun + "ly"

In [27]:
adj = adjectivizer("man")

In [28]:
print(adj)

manly

In [29]:
def adjectivizer(noun):
    if len(noun)>4:
        value = noun + "ly"
    else:
        value = noun
    return value

In [30]:
adjectivizer("man")

'man'

In [31]:
adjectivizer("woman")

'womanly'

In [32]:
import pandas_datareader as web

In [33]:
data = web.DataReader("MSFT","google")

In [34]:
type(data)

pandas.core.frame.DataFrame

In [35]:
data.head()

             Open   High    Low  Close    Volume
Date
2010-01-04  30.62  31.10  30.59  30.95  38414185
2010-01-05  30.85  31.10  30.64  30.96  49758862
2010-01-06  30.88  31.08  30.52  30.77  58182332
2010-01-07  30.63  30.70  30.19  30.45  50564285
2010-01-08  30.28  30.88  30.24  30.66  51201289

In [38]:
data.tail(3)

             Open   High    Low  Close    Volume
Date
2017-07-24  73.53  73.75  73.13  73.60  21394826
2017-07-25  73.80  74.31  73.50  74.19  22018681
2017-07-26  74.34  74.38  73.81  74.05  16252233

In [39]:
data.describe()

              Open         High          Low        Close        Volume
count  1903.000000  1903.000000  1903.000000  1903.000000  1.903000e+03
mean     39.343936    39.674314    39.014898    39.365476  4.413394e+07
std      13.051339    13.127099    12.979879    13.066896  2.416908e+07
min      23.090000    23.320000    22.730000    23.010000  8.409616e+06
25%      27.985000    28.200000    27.795000    28.015000  2.791221e+07
50%      35.170000    35.690000    34.900000    35.400000  3.876784e+07
75%      47.810000    48.150000    47.445000    47.790000  5.348665e+07
max      74.340000    74.380000    73.810000    74.220000  3.193179e+08